<div class="login-container">
  <h2>Login</h2>
  <form (submit)="login()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" [formControl]="emailFormControl" name="email" type="email" required />
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />
      <mat-error *ngIf="pwdFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
