.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.login-submit {
  width: 100%;
  height: 40px;
}

.login-form-input {
  min-width: 350px;
}
