<div class="product-list-container">
  <mat-card class="product-list-card">
    <mat-table
      [dataSource]="products"
      class="mat-elevation-z8 product-list-table"
      *ngIf="products && products.length > 0; else emptyTable"
    >
      <!-- No Column -->
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let product">{{
          product.price | currency
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-icon-button (click)="handleView(product._id)">
            <mat-icon>launch</mat-icon>
          </button>
          <button mat-icon-button (click)="handleEdit(product._id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="handleDelete(product._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <ng-template #emptyTable>
      <span class="empty-table-message">No products found.</span>
    </ng-template>
  </mat-card>
  <a href="/product-add" mat-fab color="accent" class="add-product-button">
    <mat-icon>add</mat-icon>
  </a>
</div>
