<form [formGroup]="productForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error
      *ngIf="
        productForm.get('name')?.invalid && productForm.get('name')?.touched
      "
    >
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error
      *ngIf="
        productForm.get('description')?.invalid &&
        productForm.get('description')?.touched
      "
    >
      Description is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput type="number" formControlName="price" />
    <mat-error
      *ngIf="
        productForm.get('price')?.invalid && productForm.get('price')?.touched
      "
    >
      <div *ngIf="productForm.get('price')?.errors?.['required']">
        Price is required
      </div>
      <div *ngIf="productForm.get('price')?.errors?.['min']">
        Price must be greater than or equal to 0
      </div>
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="productForm.invalid"
  >
    {{ product?._id ? "Update" : "Create" }} Product
  </button>
</form>
